html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2"), url("../fonts/Montserrat-Regular.woff");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2"), url("../fonts/Montserrat-Medium.woff");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2"), url("../fonts/Montserrat-SemiBold.woff");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2"), url("../fonts/Montserrat-Bold.woff");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2"), url("../fonts/Montserrat-ExtraBold.woff");
  font-display: swap;
  font-weight: 800;
}

/* global */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 75px;
}
.title-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}
.title-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.btn-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 20px 0;
  border-radius: 16px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.btn:focus {
  background-color: #ffb84d;
  border: none;
  outline: none;
}
.btn:hover {
  background-color: #ffb84d;
  border: none;
}
.btn:active {
  background-color: #e1670e;
  border: none;
}
.flex {
  display: flex;
}

/* header */
.header {
  padding-bottom: 50px;
}
.header__container {
  position: relative;
  align-items: center;
  width: 1920px;
  height: 100px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 32px 32px;
}
.burger {
  display: none;
}
.header__logo {
  padding-top: 4px;
  margin-right: 557px;
}
.header__logo-image {
  width: 222px;
  height: 73px;
}
.nav {
  text-align: center;
  align-items: center;
  margin-right: auto;
  z-index: 2;
}
.nav__item:not(:last-child) {
  margin-right: 85px;
}
.header__nav .nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  transition: color 0.3s ease-in-out;
}
.nav__link:focus {
  outline-offset: 2px;
  outline: 2px solid #ff9900;
}

.header__nav .nav__link::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff9900;
  transition: width 0.3s ease-in-out;
}

.header__nav .nav__link:hover::after {
  width: 100%;
}

.nav__link:active {
  outline: none;
  border-bottom: 2px solid #e1670e;
  color: #e1670e;
}
.search-form {
  position: absolute;
  display: none;
  visibility: hidden;
  align-items: center;
  right: 0;
  background: #ffffff;
  padding: 16px 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  transition: visibility 0.3s ease-in-out;
}

.search-form--active {
  display: flex;
  visibility: visible;
  z-index: 3;
}

.search-form__input {
  width: 539px;
  border: none;
  border-bottom: 1px solid #cacaca;
  padding: 5px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  color: #cacaca;
}
.search-form__sent {
  margin-right: 20px;
  padding: 3px;
}

.search-form__close {
  padding: 3px;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.search__icon {
  stroke: black;
  transition: stroke 0.3s ease-in-out;
}
.search__icon rect {
  fill: black;
}
.search__icon:focus {
  outline: 2px solid #ff9900;
  outline-offset: 4px;
}
.search__icon:hover svg {
  stroke: #ff9900;
}
.search__icon:hover rect {
  fill: #ff9900;
}
.search__icon:active {
  fill: transparent;
  stroke: #ff9900;
  outline: none;
}
.search-form__sent:focus {
  outline: 2px solid #ff9900;
}
.search-form__close:focus {
  outline: 2px solid #ff9900;
}
.search-form__close:hover svg circle {
  stroke: #ff9900;
}
.search-form__close:hover svg rect {
  stroke: #ff9900;
  fill: #ff9900;
}

.search-form__close:active {
  outline: none;
}
.search-form__close:active svg circle {
  stroke: #000000;
}
.search-form__close:active svg rect {
  stroke: #000000;
  fill: #000000;
}

/* hero */

.hero__container {
  width: 1920px;
  border-radius: 32px;
  margin-bottom: 47px;
}
.swiper {
  width: 1770px;
  height: 100%;
  margin: 0 auto;
  border-radius: 32px;
  z-index: 0;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  margin: 0 10px !important;
  margin-bottom: 20px !important;
  background: #cacaca !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.hero__body {
  width: 1770px;
  position: absolute;
  top: 0;
  padding: 101px 850px 100px 80px;
  z-index: 1;
}

.hero__title {
  padding-bottom: 23px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #ffffff;
}
.hero__descr {
  padding-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.hero__btn {
  border-style: none;
  width: 280px;
  height: 78px;
  background-color: #ff9900;
  border: none;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}

/* about-us  */
.about-us {
  margin-bottom: 101px;
}
.about-us__container {
  width: 1920px;
}
.about-us__title {
  padding-bottom: 20px;
}
.about-us__descr {
  width: 1230px;
  padding-bottom: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}
.about-us__body-left {
  align-items: flex-end;
  justify-content: center;
  width: 868px;
  height: 622px;
  background-image: url("../img/about-usX2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 32px;
  border-radius: 32px;
}
.about-us__body-right {
  width: 870px;
  height: 622px;
}
.left-content {
  padding-top: 51px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 196px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}
.left-descr {
  width: 450px;
  margin-right: 150px;
  font-weight: 700;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
}
.left-btn {
  margin-top: 15px;
  width: 178px;
  height: 65px;
  border: 2px solid #ff9900;
  border-radius: 18px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.right-item {
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 64px;
  padding-left: 59px;
  width: 870px;
  height: 295px;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 32px;
}
.right-item:not(:last-child) {
  margin-bottom: 32px;
}
.right-item-content {
  width: 455px;
  height: 165px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.right-item__image {
  margin-right: 49px;
}

.right-item__title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.right-item__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* how  */
.how {
  margin-bottom: 109px;
}
.how__container {
  width: 1920px;
}
.how-title {
  padding-bottom: 50px;
}
.how__list {
  padding-bottom: 45px;
}
.how__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.how__link {
  transition: color 0.3s ease-in-out;
}
.how__link:focus {
  outline-offset: 3px;
  outline: 2px solid #ff9900;
}
.how__link:hover {
  color: #ff9900;
}
.how__link:active {
  outline: none;
  color: #e1670e;
}
.how__item:not(:last-child) {
  padding-right: 86px;
}
.how__body {
  width: 1770px;
  display: none;
}
.how__link--active {
  color: #e1670e;
}
.how__link-content--active {
  display: flex;
}
.how__body-left {
  width: 40%;
  margin-right: 193px;
}
.how__body-right {
  width: 49%;
  padding-top: 9px;
}
.how__right-img {
  width: 100%;
}
.how__body-title {
  padding-bottom: 8px;
}
.how__body-descr {
  height: 369px;
  padding-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.how__body-buttons:not(:last-child) {
  margin-right: 32px;
}
.how__btn:not(:last-child) {
  margin-right: 28px;
}
.how__btn-1 {
  width: 175px;
  height: 60px;
  background: #ff9900;
  border: transparent;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.how__btn-2 {
  width: 147px;
  height: 60px;
  padding: 19px 38px;
  border: 1px solid #000000;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.how__btn-2:focus {
  background: #666666;
  border: none;
  color: #ffffff;
}
.how__btn-2:hover {
  background: #666666;
  border: none;
  color: #ffffff;
}
.how__btn-2:active {
  background: #000000;
  border: none;
  color: #ffffff;
}

/* faq  */
.faq__container {
  width: 1920px;
  margin-bottom: 100px;
}
.faq__title {
  padding-bottom: 32px;
  transition: color 0.3s ease-in-out;
}
.faq__item {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}
.faq__item:focus {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}
.faq__item:hover {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}

.faq__item:active {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}
.accordion__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-top: 29px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.accordion__control svg {
  fill: #cacaca;
  min-width: 50px;
  min-height: 50px;
}
.accordion__control:focus {
  color: #ff9900;
  outline: none;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}
.accordion__control:focus svg {
  fill: #ff9900;
}
.accordion__control:hover {
  color: #ff9900;
}
.accordion__control:active {
  color: #000000;
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.accordion--active .accordion__content {
  display: block;
  visibility: visible;
  margin-bottom: 40px;
}
.accordion--active .accordion__control {
  outline: none;
  border: none;
}
.accordion--active svg {
  transform: rotate(45deg);
  fill: #cacaca;
}

.accordion-descr {
  width: 1003px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.accordion-descr:not(:last-child) {
  margin-bottom: 32px;
}
.accordion__control svg {
  fill: #cacaca;
  transition: 1s;
}

.accordion__control:hover svg {
  fill: #ff9900;
}
.accordion__control:focus svg {
  border: none;
  fill: #ff9900;
}
.accordion__control:active svg {
  fill: #cacaca;
}

/* footer  */
.footer-container {
  width: 1920px;
  background-color: #000000;
}
.footer-body {
  padding: 48px 0px;
}
.footer-body__left {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: 103px;
}
.footer-logo__image {
  width: 222px;
  padding-bottom: 18px;
}
.footer-nav__list {
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  padding-bottom: 90px;
}
.footer-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
  transition: color 0.3s ease-in-out;
}
.footer-nav__link:focus {
  outline-offset: 2px;
  outline: 2px solid #ff9900;
}
.footer-nav__link:hover {
  color: #ff9900;
}
.footer-nav__link:active {
  outline: none;
  color: #e1670e;
}
.social-link {
  display: block;
  width: 64px;
  height: 64px;
}
.social-link svg {
  fill: #666666;
  transition: fill 0.3s ease-in-out;
}
.social-link:focus {
  outline-offset: 2px;
  outline: 2px solid #ff9900;
}
.social-link:active {
  outline: none;
}
.social-link:hover svg {
  fill: #ff9900;
}
.social-link:active svg {
  outline: none;
  fill: #e1670e;
}
.social-link:not(:last-child) {
  margin-right: 21px;
}
.footer-body__center {
  width: 645px;
  margin-right: 160px;
}
.footer-center-title {
  padding-bottom: 27px;
  color: #cacaca;
}
.footer-form {
  padding-bottom: 27px;
}
.input-text,
.input-email,
.textarea {
  padding-left: 24px;
  margin-right: 5px;
  background: #414141;
  border-radius: 16px;
  border: 1px solid #414141;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  transition: background-color 0.3s ease-in-out;
}
.input-text:focus,
.input-email:focus {
  border: 1px solid #414141;
  background: #666666;
}
.input-text:hover,
.input-email:hover {
  background: #666666;
}
.input-text:active,
.input-email:active {
  background: #666666;
}
.textarea:focus {
  background: #666666;
}
.textarea:hover {
  background: #666666;
}
.textarea:active {
  background: #666666;
}
.input-text,
.input-email {
  width: 570px;
  height: 60px;
  margin-bottom: 25px;
}
.textarea {
  width: 570px;
  height: 150px;
  padding-top: 15px;
  resize: none;
}
.footer-btn {
  width: 269px;
  height: 58px;
  padding: 20px 50px;
  background: #ff9900;
  border-radius: 16px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-right: 18px;
}
.custom-checkbox {
  cursor: pointer;
  user-select: none;
}
.custom-checkbox__input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 14px;
  height: 14px;
}
.custom-checkbox__text {
  position: relative;
  padding-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}
.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}
.custom-checkbox__input:checked + .custom-checkbox__text::before {
  background-image: url("../img/check.svg");
}
.custom-checkbox__input:checked + .custom-checkbox__text {
  outline: 2px solid #ffffff;
}

.footer-body__right {
  width: 363px;
  height: 320px;
  padding-top: 90px;
}
.footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}
